.hour19{
    background-color: #1f252d;
    color: white;
}
.hour5{
    background-color:#263e66;
    color: white;
}
.hour6{
   background-color:#00a3cc;
   color: white;
}
.hour18{
    background-color:#263e66;
    color: white;
}
