*, *:before, *:after {
    box-sizing: border-box;
    left: 0px;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container{
  position: relative;
  width: 100%;
}
.rowClock {
  display: flex;
  flex: 1;
  flex-direction: row;
}
.cell {
  flex-wrap: nowrap;
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}
.container>.clock{
  display: flex;
  flex-direction: column;
  min-height: 99vh;
  width: 100%;
  margin: 0 auto;
  font-size: 2em;
  left: 0;
}
.rowClock>.clock {
  height: 100%;
  box-sizing: border-box;
  border: 1px solid green;
  color: #171e42;
  margin: 0 auto;
  display: flex;
  flex: 1;
  left: 0;
}
.rowClock>.clock>.text {
   flex: 1;
   font-size: 2vh;
   padding: 5px;
}
.rowClock>.clock>.analog {
  flex: 2;
}
.clock>.analog{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  flex: 1;
}
.rowClock>.clock>.text>.date {
  margin: 0 auto;
  color: green;
}
.rowClock>.clock>.text>.time {
   margin: 0 auto;
}
.container>.clock>.text>.date {
  font-size: 1em;
  color: green;
}
.container>.clock>.text>.time {
  margin-top: 0px;
  font-size: 1em;
}
@media screen and (min-width: 0px){
  .container>.clock>.text>.time {
    font-size: 0.6em;
  }
  .container>.clock>.text>.date {
    font-size: 0.6em;
    color: green;
  }
}  
@media screen and (min-width: 300px){
  .container>.clock>.text>.time {
    font-size: 0.8em;
  }
  .container>.clock>.text>.date {
    font-size: 0.8em;
    color: green;
  }
}  
@media screen and (min-width: 800px){
  .container>.clock>.text>.time {
    font-size: 1.2em;
  }
  .container>.clock>.text>.date {
    font-size: 1.2em;
    color: green;
  }
}  
@media screen and (min-width: 1200px){
  .container>.clock>.text>.time {
    font-size: 1.4em;
  }
  .container>.clock>.text>.date {
    font-size: 1.4em;
    color: green;
  }
}  
