.wrapper{
    width: 100%;
    margin: auto !important;
    padding: 0 !important;
}
.container{
    margin: 0;
    padding: 0;
}
.weather-widget{
    width: 100%;
    color: white;
    font-family: league-gothic, sans-serif;
    font-weight: 100;
    font-style: normal;
    padding: 0% 10%;
    flex-direction: column;
    display: flex;
    height: 100vh;
}
.very-warm{
    background-color: #FF8500;
}
.warm{
    background-color: #ffc600;
}
.normal{
    background-color: #94AF10;
}
.cold{
    background-color:  #06799F;
}
.very-cold{
    background-color: #233884;
}
.city{
    font-size: 6vh;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
    flex:1;
    flex-grow: 1;
    margin-bottom: 0px;
}
.weather{
    padding: 0% 5% 3% 5% ;
    width: 100%;
    text-align: center;
    border-bottom: 0.2vh solid white;
    flex: 2;
    flex-grow: 4;
}
.temp > p {
    position: relative;
    top: 7%;
}
.weather .wi {
    vertical-align: middle;
    font-size: 42vh;
}    
.weather-details{
    margin-top: 2.5%;
    flex: 2;
    flex-direction: row;
    display: flex;
    flex-grow: 4;
}
.temp{
    font-size: 22vh;
    flex: 6;
    text-align: right;
    padding-top: 0;
}
.wind-humidity{
    flex: 6;
    display: flex;
    flex-direction: column;  
    text-align: left; 
}
.wind-humidity> .humidity > p, .wind-humidity> .wind > p {
    display: inline-block;
    padding-left: 1%; 
}
.space{
    flex: 1;
}

.degrees{
    font-size: 21vh;
}
.weather-details .temp .wi {
    font-size: 21vh;
    line-height: 0vh;
}
.humidity{
    font-size: 8vh;
    flex: 3;
}
.weather-details .humidity .wi, .weather-details .wind .wi {
    vertical-align: top;
    width: 8vh;
}
.wind{
    font-size: 8vh;
    flex: 3;
}
.weather-details .wind .vel {
    font-size: 6vh;
}
@media (min-width: 160px) { 
    .weather .wi {
        font-size: 33vh;
    }   
    .humidity {
        font-size: 6vh;
    }
    .weather-details .wind .wi {
        width: 5vh;
    }
    .wind{
        font-size: 6vh;
    }
    .weather-details .wind .vel {
        font-size: 3vh;
    }
    .temp {
        font-size: 9vh;
        padding-top: 10%;
    }
    .weather-details .temp .wi {
        font-size: 9vh;
    }
    .degrees {
        font-size: 8vh;
    }
    .weather-details .humidity .wi, .weather-details .wind .wi {
        width: 5vh;
    }
}
@media (min-width: 576px) { 
    .weather .wi {
        font-size: 39vh;
    }   
    .humidity {
        font-size: 6vh;
    }
    .weather-details .wind .wi {
        width: 5vh;
    }
    .wind{
        font-size: 6vh;
    }
    .weather-details .wind .vel {
        font-size: 5vh;
    }
    .temp {
        font-size: 12vh;
        padding-top: 10%;
    }
    .weather-details .temp .wi {
        font-size: 12vh;
    }
    .degrees {
        font-size: 12vh;
    }
}


@media (min-width: 1200px) { 
    .temp {
        font-size: 22vh;
        padding-top: 2%;
    }
    .weather-details .temp .wi {
        font-size: 21vh;
    }
    .degrees {
        font-size: 21vh;
    }
}