.calendar-content{
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}
.rbc-event-label{
    display: none;
}
.rbc-time-content{
    align-items: stretch;
}