.calendar-content {
    display:flex;
    display: -webkit-flex;
    flex-direction:column;
    height:100%;
    width:100%;
}
.rbc-event-label{
    display: none;
}
.rbc-time-content{
    align-items: stretch;
}